{% extends "base.html" %}

{% block title %}Zespół{% endblock %}

{% block content %}

<style>
    .col-md-4{
      display: flex;
      justify-content: center;
    }

    .col-md-8{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
    }

    .custom-image {
      width: 300px;
      height: 300px;
      margin-bottom: 10px;
      box-shadow: 10px 10px 0px #fbecd4;
      border-radius: 3px;
    }

    .hd-name{
      font-family: 'Pacifico', cursive;
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .desc{
      width: 90%;
      font-size: 19px;
      padding: 20px;
      background-color: #282424;
      box-shadow: 10px 10px 0px #fbecd4;
      border-radius: 3px;
      color: white;
      font-weight: 600;
      margin-bottom: 100px;
    }

    @media (max-width: 991px) {
    .hd-name{
      text-align: center;
    }
  }

</style>

<div class="container" style="padding-top: 100px;">
  {% for hd in hairdresser_list %}
  <div class="row">
    <div class="col-md-4">
      <img src="data:image/jpeg;base64,{{ hd.picture }}" alt="{{ hd.name }}" class="custom-image">
    </div>
    <div class="col-md-8">
      <h2 class='hd-name'>{{ hd.name }}</h2>
      <p class='desc'>{{ hd.desc }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}